/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #edeff1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header */
.header {
  width: 100%;
  min-height: 132px;
  background-color: #edeff1;
}

.nav-item {
  color: #31353e;
  font: 400 18px/24px "Roboto Slab", serif;
  margin-left: 20px;
}

.nav-active-link {
  min-width: 144px;
  text-align: center;
  font: 400 18px/49px;
  border-radius: 25px;
  background-color: #dd4b2b;
}

/* Intro section */
.intro {
  width: 100%;
  height: 100vh;
  padding: 138px 0;
  color: #fff;
  background: url(./../img/intro.png) center center no-repeat;
  background-size: cover;
  text-align: center;
}

.intro-title {
  font: 300 72px "Roboto Slab", serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.product-list {
  margin-bottom: 79px;
}

.intro-subtitle,
.product-list .title {
  font: 700 30px/48px "Roboto Slab", serif;
}

.product-list__item {
  max-width: 325px;
  margin-top: 129px;
}

.product-list .title {
  line-height: 0;
  margin: 35px 0 29px;
}

.product-list .description {
  font: 300 15px/30px "Roboto", sans-serif;
}

/*News section*/
.news {
  width: 100%;
  height: auto;
  padding: 82px;
  color: #31353e;
  text-align: center;
}

.news-title {
  font: 700 30px/24px "Roboto Slab", serif;
}

.news-content-box {
  width: 288px;
  margin: 39px auto 0;
}

.news-item {
  width: 371px;
  margin-top: 84px;
}

.news-title-item {
  font: 700 24px "Roboto Slab";
}

.news-description-item {
  font: 300 15px/30px "Roboto", sans-serif;
}

/* Buttons */
.primary-btn {
  width: 213px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  color: #612316;
  font: 400 18px/54px "Roboto Slab", serif;
}

.secondary-btn {
  margin-top: 39px;
  width: 179px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  font: 300 15px/54px "Roboto Slab", serif;
}

@media (max-width: 1200px) {
  .intro {
    height: auto;
  }
}
